/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

h1 {
    color: var(--text-header);
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

header p {
    color: var(--text-main);
    font-size: 16px;
    font-style: italic;
}

header button {
    background: transparent;
    border: none;
    border-radius: 50%;
    color: var(--bg-side);
    cursor: pointer;
    padding: 4px 6px;
    transition: var(--transition);
}

header button:hover {
    background-color: color-mix(in srgb, var(--footer-color) 15%, transparent);
}

header img {
    height: 25px;
    width: 25px;
    transform: translateX(-1%) translateY(7%);
}

/* Sidebar */
aside {
    flex: 0 0 300px;
    height: auto;
    background-color: var(--bg-side);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 16px;
    margin-bottom: 16px;
}

.desktop-list-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 12px;
}

aside h2 {
    color: var(--text-side);
    font-weight: 500;
}

aside #new-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 4px;
    color: var(--interactive);
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px 4px;
    transition: var(--transition);
}

aside #new-list-btn:hover {
    background-color: var(--bg-hover);
}

aside #new-list-btn img {
    height: 15px;
    margin-bottom: 1.5px;
    margin-right: 5px;
}

.lists-container {
    max-height: 90px;
    overflow-y: auto;
}

.mobile-lists-container {
    max-height: 160px;
    overflow-y: auto;
}

aside hr {
    margin: 15px auto 20px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    border: none;
    border-radius: 4px;
    color: var(--text-main);
    cursor: pointer;
    font-size: 14px;
    gap: 15px;
    padding: 6px 8px;
    text-align: center;
    transition: var(--transition);
    width: 100%;
}

.sidebar-btn:first-of-type {
    margin-top: 10px;
}

.sidebar-btn:hover {
    background-color: var(--bg-hover);
}

.sidebar-btn img {
    height: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.sidebar-btn:nth-of-type(3) img {
    height: 21px;
}

/* Main Panel */
.main-panel {
    flex: 1;
    height: auto;
}

.current-list-container {
    background-color: var(--bg-side);
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin-bottom: 16px;
    padding: 16px;
}

.current-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.current-list-container h2 {
    color: var(--text-side);
    font-size: 20px;
    font-weight: 600;
}

.progress-container {
    margin-bottom: 16px;
}

.progress-header {
    display: flex;
    justify-content: space-between;
    color: var(--text-dummy);
    font-size: 12px;
    margin-bottom: 4px;
}

.progress-bar-container {
    background-color: var(--bg-progressbar);
    border-radius: 9999px;
    height: 6px;
    width: 100%;
    border: 1px solid var(--text-dummy);
}

.progress-bar {
    background-color: var(--interactive);
    border-radius: 9999px;
    height: 6px;
    width: 0%;
    transition: var(--transition);
}

.delete-list-btn,
.edit-list-btn {
    background: transparent;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    outline: none;
    padding: 4px 6px;
    transition: var(--transition);
}

.delete-list-btn:hover,
.edit-list-btn:hover {
    background-color: var(--bg-hover);
}

.delete-list-btn img,
.edit-list-btn img {
    height: 22px;
    margin: 3px auto auto 1px;
    width: 22px;
}

.task-input-container {
    position: relative;
    margin-bottom: 12px;
}

.task-input {
    background-color: color-mix(in srgb, var(--bg-main) 40%, transparent);
    border: 1.4px solid var(--text-dummy);
    border-radius: 8px;
    color: var(--text-main);
    font-size: 14px;
    outline: none;
    padding: 12px 40px 12px 12px;
    transition: var(--transition);
    width: 100%;
}

.task-input:focus {
    background-color: color-mix(in srgb, var(--bg-main) 60%, transparent);
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border: var(--interactive) 1.4px solid;
}

.add-task-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--interactive);
    cursor: pointer;
    font-size: 1.6rem;
}

.add-task-btn:hover {
    color: var(--interactive);
}

.tasks-panel {
    background-color: var(--bg-side);
    border-radius: 8px;
    max-height: 35svh;
    min-height: 54.5%;
    overflow-y: auto;
    padding: 16px;
    box-shadow: var(--shadow);
}

.tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.tasks-header h3 {
    color: var(--text-side);
    font-weight: 500;
}

.tasks-controls {
    display: flex;
    gap: 8px;
}

.sort-tasks {
    appearance: none;
    background-color: var(--bg-hover);
    border: 1px solid var(--bg-main);
    border-radius: 4px;
    color: var(--text-main);
    cursor: pointer;
    font-size: 12px;
    padding: 4px 24px 4px 8px;
    position: relative;
}

.sort-tasks:focus {
    border-color: var(--interactive);
    box-shadow: 0 0 0 1px var(--interactive);
    outline: none;
}

.sort-tasks-container {
    position: relative;
}

.sort-tasks-container::after {
    content: '⏷';
    font-weight: 900;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-side);
    margin-top: -1px;
    pointer-events: none;
}

.sort-tasks option {
    background-color: var(--bg-side);
    color: var(--text-side);
}

.clear-completed {
    background-color: var(--bg-hover);
    border: 1px solid var(--bg-main);
    border-radius: 4px;
    color: var(--text-main);
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.no-tasks,
.no-lists {
    padding: 12px 0;
    text-align: center;
}

.no-tasks {
    margin-top: 20px;
}

.no-tasks img {
    height: 40px;
    margin-bottom: 15px;
}

.no-tasks p,
.no-lists p {
    color: var(--text-dummy);
    font-size: 14px;
    justify-content: center;
}

/* Task Item */
.task-item {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid var(--bg-hover);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    gap: 10px;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    padding: 1rem;
    transition: var(--transition);
}

.task-item:hover .task-actions {
    opacity: 1;
}

.priority-high {
    border-left: 3px solid #ef4444;
}

.priority-medium {
    border-left: 3px solid #f59e0b;
}

.priority-low {
    border-left: 3px solid #10b981;
}

.complete-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid #ccc;
    border-radius: 9999px;
    height: 20px;
    width: 20px;
}

.task-item .complete-task-btn {
    border: 1px solid var(--text-dummy);
    cursor: pointer;
}

.task-item .complete-task-btn.completed {
    background-color: #10b981;
    border-color: #10b981;
    color: var(--text-header);
}

.task-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    color: var(--text-side);
    margin-left: 8px;
}

.task-content.completed .task-name,
.task-content.completed .task-description,
.task-content.completed .task-due,
.task-content.completed .separator {
    color: var(--text-dummy);
}

.task-content.completed .task-name {
    text-decoration: line-through;
}

.task-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-name p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-meta {
    display: flex;
    gap: 3px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.task-description,
.task-due {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.task-description {
    max-width: 80%;
}

.separator {
    flex-shrink: 0;
    transform: translateY(-1.5px);
    font-size: 13px;
}

.task-actions {
    display: flex;
    gap: 4px;
    opacity: 0;
    margin-left: 8px;
    transition: var(--transition);
}

.task-actions {
    padding: 2px 6px;
    border-radius: 9999px;
    font-size: 12px;
}

.task-actions button {
    transition: var(--transition);
}

.task-actions button img {
    height: 18px;
}

.task-actions button img:first-of-type {
    height: 20px;
    margin-top: 2px;
}

.edit-task-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    padding: 4px;
}

.delete-task-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #dc2626;
    cursor: pointer;
    font-size: 14px;
}

/* List Elements */
.list-element {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-side);
    font-size: 20px;
    letter-spacing: 1px;
    padding: 8px;
    text-align: left;
    transition: var(--transition);
    cursor: pointer;
}

.list-element:first-of-type {
    margin-top: 0;
}

.list-element:not(:first-of-type) {
    margin-top: 10px;
}

.list-element:hover {
    background-color: var(--bg-hover);
}

.list-element.active {
    border-left: 4px solid var(--interactive);
    font-weight: 500;
}

.list-element p,
#current-list-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-color-circle {
    border: solid 1px var(--text-side);
    border-radius: 9999px;
    height: 16px;
    width: 18px;
}

.sidebar-section p {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.mobile-sidebar-header {
    display: flex;
    justify-content: space-between;
    color: var(--text-side);
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1.2px solid var(--text-dummy);
}

.mobile-sidebar-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: var(--text-side);
    cursor: pointer;
    padding: 3px 8px 4px;
    transition: var(--transition);
}

.mobile-sidebar-toggle:hover {
    background-color: var(--bg-hover);
}

.mobile-sidebar-header-text {
    font-size: 23px;
}

/* Media Queries */
@media (min-width: 1024px) {
    .container {
        flex-direction: column;
    }

    aside {
        margin-bottom: 0;
    }

    .mobile-sidebar-header {
        display: none;
    }
}
